  .volunteer-requests__item {
    background-color: #f0ebeb;
    width: 18rem;
  }
  
  .volunteer-requests__location {
    font-weight: 400;
  }
  
  .volunteer-requests__task {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
  }

  .volunteer-requests__charity {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  