.admin_title {
    color: #46c2b6;
    font-weight: bold;
    font-size: 1.6rem;
}
.opp-table {
    background-color: #f0ebeb;
    width: 100%;
    border-radius: 15px;
}

.opp-table__actions {
}

.opp-table__action {
    color: #46c2b6;
}